body {
}

div.A {
	background-color: rgb(200,200,200);
	border: 3px solid gray;

}
div.B {
	text-align middle;
	vertical-align: middle;
	background-color: rgb(192,192,192) ;
	border: 3px solid gray;
}

div.C {
	background-color: rgb(220,220,220);
    padding:5px;
    border:5px solid black;
}

div.D {
	float: middle;
	background-color: rgb(210,210,210);
	padding: 3px;
	text-align: center;
	max-width: 35%
}

ul.navBar {
	text-align: center;
	list-style-type: none;
	margin: 0; 
	padding: 5px;
	position: fixed;

}

li.navTopics {
	padding: 0px;
	background-color: rgb(196,167,46);
	border: 2px solid gray;
	display: inline;
	float: middle;
}




